flask
pandas
plotly
yfinance
python-telegram-bot
langchain-groq
langchain-core
langchain-google-genai
langchain-community
googlesearch-python
hypercorn
pytz
duckduckgo-search
APScheduler==3.10.4
